{% apply inline_css(source('mail.css')) %}

{% block body %}
<main>
    <table cellspacing='0' cellpadding='10' border='0' width='100%'>
    <tbody>
        <tr>
            <td>
                <div>
                    <img src='{{ absolute_url(asset('images/logo_cercle.png')) }}' alt='logo Créa Learning'/>
                </div>
                <h1 class='password__title'>{{hello}}&nbsp;<span>{{user.firstName}}</span></h1>
                <p>
                    {{recoveryMessage}} :
                    <br/>
                    {{user.email}}
                </p>
                <p>
                    {{clicMessage}} :
                </p>
                <p>
                    <a href='localhost:3000/connection/reset/{{token}}' class='password__btn' target='_blank'>{{resetButton}}</a>
                </p>
                <p>
                    {{copyableLink}} : <a href='localhost:3000/connection/reset/{{token}}' target='_blank'>localhost:3000/connection/reset/{{token}}</a>
                </p>
                <small>
                    <ul class='link__list'>
                        <li>
                            {{expirationMessage}}&nbsp;{{expiration_date}}.
                        </li>
                        <li>
                            <a href={{termsLink}}>{{terms}}</a> -&nbsp;
                            <a href={{legalLink}}>{{legal}}</a> -&nbsp;
                            <a href={{contactLink}}>{{contact}}</a>
                        </li>
                    </ul>
                </small>
            </td>
        <tr>
        </tbody>
    </table>
</main>
{% endblock %}

{% endapply %}
